.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;

  .header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 50px 25px 0px 25px; //isLowerThan420 ? '50px 25px 0px 25px' : '50px 25px 0px 25px';
    padding-bottom: 5px;
    background-color: var(--main-bg);
    border-color: var(--main-bg);
    color: #bdbdbd;
    z-index: 1;
    justify-content: center;

    .button {
      text-align: center;
      font-size: large;
      width: 13%; //w: isLowerThan420 ? '40px' : '100%',
      padding-left: 3%;
      padding-right: 3%;
      margin-left: 5px;
      margin-right: 5px;
      padding-bottom: 10px;
      border-bottom: 2px solid var(--main-bg);
      background-color: var(--main-bg);
      user-select: none;
      cursor: pointer;

      &:active {
        background-color: var(--main-bg);
      }

      &:hover {
        color: var(--text);
        border-bottom: 2px solid var(--primary);
      }
    }

    .selected {
      color: var(--text);
      border-bottom: 2px solid var(--primary);
    }
  }
}
