html,
body {
  background-color: var(--secondary-bg);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background-color: var(--secondary-bg);
}

:root {
  --main-bg: #1d1825;
  --secondary-bg: #2c2537;
  --text: #ffffff;
  --primary: #8133ff;
  --hover: #6100ff;
}
